@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Mackenzie Baker
   Date:   10.26.2018

   Filename: pcg_styles.css
   Supporting Files: 

*/

/* Html Styles */
/* Changes color of the html background. */
html {
    background-color: rgb(104, 87, 65);
}

/* Body Styles */
/* Sets parameters for body while also laying out the background color. */
body {
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 95%;
}

/* Defines images width as 100% in the header. */
body header img {
    display: block;
    width: 100%;
}

/* Navigational Styles */
/* Gives the horizontal nav a width of 100%. */
nav.horizontal {
    display: table;
    width: 100%;
}

/* Sets to display as a table row. */
nav.horizontal ul {
    display: table-row;
}

/* Gives padding and sets a color scheme to the horizontal navigations li's. */
nav.horizontal ul li {
    list-style-type: none;
    display: table-cell;
    padding: 20px;
    background-color: rgb(61, 51, 37);
}

/* Changes the style of the text color to white after it has been visited ans while it is on the page. */
nav.horizontal a:link,
nav.horizontal a:visited {
    text-decoration: none;
    color: white;
}

/* Changes color when mouse is hovered over the link or the link is active.  */
nav.horizontal a:hover,
nav.horizontal a:active {
    color: beige;
}

/* Container collapse rule. */
.horizontal::after {
    clear: both;
    content: "";
    display: table;
}

/* Div Styles */
/* Positions this div column to the left. */
div.col-1-2left {
    position: relative;
    width: 45%;
    padding: 10px 20px;
    float: left;
}

/* Container collapse rule. */
.col-1-2left::after {
    clear: both;
    content: "";
    display: table;
}

/* Floats the column to the left. */
div.col-1-2right {
    position: relative;
    width: 45%;
    padding: 10px 20px;
    float: right;
}

/* Container collapse rule. */
.col-1-2right::after {
    clear: both;
    content: "";
    display: table;
}

/* Footer Styles */
/* Changes the footer's color to something other than the ones assigned to other elements. */
footer {
    background-color: rgb(151, 121, 82);
}

/* Gets rid of all underlining styles place on the nav links. */
nav.footerNav ul li {
    list-style-type: none;
    display: block;
}

/* Floats element left with a width of 25%. */
body > footer > nav.footerNav {
	float: left;
    width: 25%;	
}

/* Container collapse rule. */
.footerNav::after {
    clear: both;
    content: "";
    display: table;
}

/* Removes any style rules from a tags and colrs the text black. */
nav.footerNav a:link,
nav.footerNav a:visited {
    text-decoration: none;
    color: black;
}

/* Color of a tags when hovered over becomes baige. */
nav.footerNav a:hover,
nav.footerNav a:active {
    color: beige;
}
/* Address Styles */
/* Aligns text to the center while creating a padding of 20px on each side. */
address {
    text-align: center;
    background-color: rgb(61, 51, 37);
    padding: 20px;
    color: white;
}

/* Container collapse rule. */
::after {
    clear: both;
    content: "";
    display: table;
}