@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Mackenzie Baker
   Date:   10.26.2018

   Filename: pcg_styles.css
   Supporting Files: 

*/

/* Html Styles */
html {
    background-color: rgb(104, 87, 65);
}

/* Body Styles */
body {
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 95%;
}

body header img {
    display: block;
    width: 100%;
}

/* Navigational Styles */
nav.horizontal {
    display: table;
    width: 100%;
}

nav.horizontal ul {
    display: table-row;
}

nav.horizontal ul li {
    list-style-type: none;
    display: table-cell;
    padding: 20px;
    background-color: rgb(61, 51, 37);
}

nav.horizontal a:link,
nav.horizontal a:visited {
    text-decoration: none;
    color: white;
}

nav.horizontal a:hover,
nav.horizontal a:active {
    color: beige;
}

.horizontal::after {
    clear: both;
    content: "";
    display: table;
}

/* Div Styles */
div.col-1-2left {
    position: relative;
    width: 45%;
    padding: 10px 20px;
    float: left;
}

.col-1-2left::after {
    clear: both;
    content: "";
    display: table;
}

div.col-1-2right {
    position: relative;
    width: 45%;
    padding: 10px 20px;
    float: right;
}

.col-1-2right::after {
    clear: both;
    content: "";
    display: table;
}

/* Footer Styles */
footer {
    background-color: rgb(151, 121, 82);
}

nav.footerNav ul li {
    list-style-type: none;
    display: block;
}

body > footer > nav.footerNav {
	float: left;
	width: 25%;	
}

.footerNav::after {
    clear: both;
    content: "";
    display: table;
}

nav.footerNav a:link,
nav.footerNav a:visited {
    text-decoration: none;
    color: black;
}

nav.footerNav a:hover,
nav.footerNav a:active {
    color: beige;
}
/* Address Styles */
address {
    text-align: center;
    background-color: rgb(61, 51, 37);
    padding: 20px;
    color: white;
}

::after {
    clear: both;
    content: "";
    display: table;
}